@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Madimi+One&display=swap");

:root {
  --logo-text-color: rgb(213, 239, 236);
  --primary-text-color: white;
  --primary-text-hover-color: #8dddee;
  --logout-color: rgb(251, 168, 168);
  --btn-info-bg-color: rgba(96, 222, 236, 0.592);
  --btn-info-bg-hover-color: rgba(18, 186, 216, 0.592);
  --see-more-link-color: #2fa1bb;
  --see-more-link-hover-color: #67c2d7;
  --light-gray-color: rgb(55, 53, 53);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2 {
  text-transform: capitalize;
  font-size: 25px;
  color: #47494a;
}

a {
  color: #343a40;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 67px);
}

.btn-info {
  background-color: var(--btn-info-bg-color);
}
.btn-info:hover {
  background-color: var(--btn-info-bg-hover-color);
}

.price_text {
  font-weight: 700;
  opacity: 0.6;
}

.link-in-steps {
  color: #343a40;
}

.nav-link:hover {
  color: #9954bb;
}
/* Pagination */
.pagination-custom .page-link {
  color: #343a40;
}

.pagination-custom .page-link:hover {
  color: #343a40;
}

.pagination-custom .page-item.active .page-link {
  background-color: #343a40;
  border-color: white;
  color: white;
}

/* Carousel */

.carousel-caption {
  position: absolute;
  width: 100%;
  font-size: 22px;
  left: 0;
  right: 0;
  height: 90px;
  background: rgba(0, 0, 0, 0.25);
}

.carousel-item {
  width: 100%;
  height: 100%;
}
/* Horizontal Scroll */
.horizontal-scroll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-scroll-header h2 {
  margin: 0;
}
.horizontal-scroll-header > a {
  text-decoration: none;
}

/* HorizontalContainer */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* Disable vertical scrolling */
  padding: 10px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Scroll Item */
.scroll-item {
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing between items */
  width: 250px; /* Set a fixed width for each card */
  cursor: pointer; /* Set cursor to grab for dragging */
}

.bullet-box {
  gap: 10px;
  margin-bottom: 20px;
}

.bullet-item {
  /* color: rgba(11, 11, 11, 0.962); */
  color: rgba(61, 59, 59, 0.839);
  background-color: white;
  border: 1px solid gray;
  border-radius: 18px;
  padding: 3px 13px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
}

.bullet-item:first-child {
  color: white;
  background-color: black;
}

.bullet-item:hover {
  color: white;
  background-color: black;
  transform: scale(1.02);
}

.link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blue; /* Customize link color */
  text-decoration: none;
}
/* Card  */
.card-with-aspect-ratio {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
  width: 15%;
  border: 0;
}

.aspect-ratio-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 80.25%; /* 16:9 aspect ratio */
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

.custom_card_title,
.custom_card_text {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  white-space: normal;
}

td {
  max-width: 200px; /* Adjust the maximum width as needed */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: add ellipsis if text overflows */
}

td > span {
  font-size: 14px; /* Adjust the font size as needed */
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: var(--primary-text-color);
}

.logout-menu {
  color: var(--logout-color);
}

@keyframes colorChange {
  0% {
    color: #e66da1;
  }
  20% {
    color: #a677e7;
  }
  40% {
    color: rgb(92, 124, 205);
  }
  60% {
    color: rgb(70, 191, 161);
  }
  80% {
    color: #41bf4b;
  }
  100% {
    color: #dfe574;
  }
}

.animated-letter {
  display: inline-block;
  font-size: 27px;
  animation: colorChange 5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px); /* Adjust the vertical distance as needed */
  }
}

.icon-container {
  display: inline-block; /* Ensures the container only takes the space necessary */
}

.bouncing-icon {
  animation: bounce 1.5s infinite; /* Adjust the duration as needed */
}

.logo_text {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--logo-text-color);
  font-family: "Madimi One", sans-serif;
}

.active.dropdown-item {
  background-color: var(--primary-text-color);
  color: #343a40;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.close-btn,
.menu-btn,
.cart-btn {
  color: var(--primary-text-color);
  transition: color 0.3s;
}

.close-btn:hover,
.menu-btn:hover,
.cart-btn:hover {
  color: var(--primary-text-hover-color);
}

.dropdown-toggle.nav-link {
  color: var(--primary-text-color);
}

.dropdown-toggle.nav-link.show {
  color: var(--primary-text-color);
}

form div label {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray-color);
}

.form-control {
  font-size: 16px;
}

.form-control:focus {
  border-color: #80bdff; /* Change border color */
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); /* Change box shadow */
}

#see-more-link {
  color: var(--see-more-link-color);
  font-weight: 500;
}

.see-more-icon {
  font-size: 20px;
}

#see-more-link:hover {
  color: var(--see-more-link-hover-color);
}

.breadcrumb-text {
  color: gray;
  cursor: not-allowed;
}

.breadcrumb-item.active {
  color: var(--see-more-link-color);
  cursor: pointer;
  text-decoration: underline;
}

.text_total {
  font-size: 16px;
  font-weight: 700;
}

.date-text {
  color: rgb(104, 99, 99);
  font-weight: 600;
  margin-left: 5px;
}

.product-text {
  color: rgb(40, 38, 38);
  font-weight: 500;
  margin-left: 5px;
  line-height: 1.8;
}

.cart-1 {
  display: none;
}

.add-more-items {
  font-weight: 500;
  color: var(--see-more-link-color);
}

.add-more-items:hover {
  color: var(--see-more-link-hover-color);
}

.instock-text {
  background-color: #8dd693;
  border-radius: 3px;
  font-style: italic;
  padding: 4px 6px;
  font-weight: 500;
}

.outofstock-text {
  color: rgb(216, 108, 108);
  font-weight: 500;
  font-style: italic;
}

.items-count {
  color: black;
}

.list-group {
  --bs-list-group-border-color: white;
}

.card {
  --bs-card-border-color: rgb(216, 213, 213);
  padding: 15px 10px;
}

.list-group-flush > .list-group-item {
  border-width: 0;
}

.autocomplete-badge {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-button {
  padding: 10px 20px;
}

td {
  height: 40px;
  white-space: nowrap;
}

.see-more-selectItems {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 0;
  font-weight: 500;
  font-size: 13px;
  color: var(--see-more-link-color);
}

.fade-color {
  color: #bdb6b6; /* Fading color */
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-box > span {
  width: 70px;
  font-size: 12px;
  font-weight: 500;
}

.wrapper {
  height: 100px;
}

.results-text {
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 32px;
}

.see-more-selectItems {
  background-color: white;
}

.offcanvas.offcanvas-start {
  width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.review-name {
  text-transform: capitalize;
}

.rating-box {
  display: flex;
  align-items: center;
}

.review-date-text {
  font-size: 14px;
  font-style: italic;
}

.review-comment {
  font-weight: 500;
  color: #323030;
  margin-top: 5px;
}

.filter-btn {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  color: red;
  border: 0;
  font-weight: 500;
  font-size: 12px;
}

.filter-btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.hover-line-effect:hover {
  text-decoration: underline;
}

.filter-amount-box {
  display: none;
}

.filter-amount {
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(201, 71, 71);
}

.questionmark-badge {
  font-size: 12px;
}

.toppick-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  max-width: 800px;
  transition: box-shadow 0.3s ease;
}

.toppick-container:hover {
  box-shadow: 0px 0px 15px 0px rgba(84, 205, 235, 0.5);
}

.toppick-leftbox,
.toppick-rightbox {
  flex: 1;

}

.toppick-leftbox{
  display: flex;
}

.toppick-leftbox img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px 0 0 20px;
}

.toppick-rightbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.toppick-wrapper {
  text-align: left;
}

.toppick-wrapper > span {
  font-style: italic;
  font-weight: 400;
  background-color: #e4ab97;
  color: black;
  padding: 5px 10px;
}

.toppick-wrapper > h2 {
  color: #333;
  margin-top: 10px;
  font-size: 20px;
}

.toppick-wrapper > p {
  margin-top: 10px;
  font-weight: 500;
  color: rgb(72, 71, 71);
  font-size: 14px;
}

.btn-buy-now {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-buy-now:hover {
  background-color: #2c2d2d;
}

.hireme-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden; /* Hides overflow of moving text */
}

.command-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typed-text {
  color: #209120; /* Green color */
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}

.cursor {
  color: #209120; /* Green color */
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  animation: blinkCursor 0.5s infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .card-with-aspect-ratio {
    width: 18%; /* Adjust width for medium screens */
  }
  .custom_card_title,
  .custom_card_text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2 {
    font-size: 24px;
  }

  .carousel-caption {
    font-size: 18px;
    height: 80px;
  }
  .icons {
    font-size: 18px;
  }

  .price_text {
    font-size: 15px;
  }

  .text_total {
    font-size: 14px;
    font-weight: 700;
  }

  #see-more-link {
    font-size: 16px;
  }

  .see-more-icon {
    font-size: 18px;
  }

  .cart-1 {
    display: block;
  }

  .cart-2 {
    display: none;
  }

  .add-more-items {
    font-size: 16px;
    font-weight: 600;
  }

  .btn {
    font-size: 16px;
  }

  .filter-box {
    display: none;
  }

  .filter-amount-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .bullet-item {
    border-radius: 18px;
    padding: 3px 13px;
    font-size: 14px;
  }

  .questionmark-badge {
    font-size: 12px;
  }

  .btn-buy-now {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .card-with-aspect-ratio {
    width: 23%; /* Adjust width for small screens */
  }
  .custom_card_title,
  .custom_card_text {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2 {
    font-size: 20px;
  }
  .carousel-caption {
    font-size: 16px;
    height: 70px;
  }

  .icons {
    font-size: 16px;
  }

  .price_text {
    font-size: 13px;
  }

  thead {
    font-size: 14px;
  }
  tbody {
    font-size: 14px;
  }

  .text_total {
    font-size: 13px;
    font-weight: 700;
  }

  #see-more-link {
    font-size: 14px;
  }

  .see-more-icon {
    font-size: 16px;
  }

  .cart-1 {
    display: block;
  }

  .cart-2 {
    display: none;
  }

  .add-more-items {
    font-size: 15px;
    font-weight: 600;
  }

  .btn {
    font-size: 14px;
  }

  .bullet-item {
    border-radius: 18px;
    padding: 3px 13px;
    font-size: 12px;
  }
  .questionmark-badge {
    font-size: 11px;
  }

  .toppick-leftbox img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 20px 0 0 20px;
  }

  .toppick-wrapper{
    text-align: left;
  }

  .toppick-wrapper > span{
    font-size: 12px;
  }

  .toppick-wrapper > p {
    display: none;
  }

  .toppick-wrapper > h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .btn-buy-now {
    margin-top: 6px;
    padding: 8px 16px;
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .card-with-aspect-ratio {
    width: 33%; /* Adjust width for extra small screens */
  }
  .custom_card_title,
  .custom_card_text {
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2 {
    font-size: 17px;
    text-transform: capitalize;
  }

  .carousel-caption {
    font-size: 11px;
    height: 54px;
  }

  .icons {
    font-size: 11px;
  }

  .price_text {
    font-size: 12px;
  }

  thead {
    font-size: 11px;
  }
  tbody {
    font-size: 11px;
  }

  strong {
    font-size: 14px;
    font-weight: 800;
  }

  .product-text {
    color: rgb(40, 38, 38);
    font-weight: 500;
    margin-left: 5px;
    line-height: 1.8;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .order_summary_text {
    font-size: 14px;
  }

  .text_total {
    font-size: 13px;
    font-weight: 700;
  }

  form div label {
    font-size: 12px;
  }
  .form-control {
    font-size: 12px;
  }

  #see-more-link {
    font-size: 12px;
  }

  .cart-2 {
    display: none;
  }

  .add-more-items {
    font-size: 12px;
    font-weight: 600;
  }

  .review-date-text {
    font-size: 12px;
  }

  .btn {
    font-size: 14px;
  }

  .bullet-item {
    border-radius: 18px;
    padding: 3px 13px;
    font-size: 11px;
  }

  .questionmark-badge {
    font-size: 10px;
  }

  .toppick-wrapper > span{
    font-size: 10px;
    font-weight: 500;
  }

  .toppick-leftbox{
    flex: 2;
  }

  .toppick-rightbox{
    flex: 3;
  }

  .toppick-wrapper > h2{
    font-size: 12px;
  }

  .btn-buy-now {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.card-body {
  padding: 10px 4px;
}
